{{define "base"}}
<div id="ext-panelheader-{{.ID}}" data-componentid="ext-panelheader-{{.ID}}" class="{{range $c:= $.Classes}}{{$c}} {{end}}"
    data-xid="4">
    <div class="x-body-el x-panelheader-body-el x-container-body-el x-component-body-el x-layout-box x-layout-hbox x-horizontal x-align-center x-pack-start"
        id="ext-element-8">
        <div class="x-unselectable x-paneltitle x-component x-text-align-left x-icon-align-left x-horizontal x-layout-box-item x-layout-hbox-item x-flexed"
            id="ext-paneltitle-1" data-componentid="ext-paneltitle-1" data-xid="5" style="flex: 1 1 auto;">
            <div class="x-body-el" id="ext-element-9">
                <div class="x-icon-el x-font-icon" id="ext-element-10"></div>
                <div class="x-text-el" id="ext-element-11" data-title="Panel">{{.Title}}</div>
            </div>
        </div>
    </div>
</div>
{{end}}