{{define "base"}}

<script>
    $(function () {
        $("#{{.ID}}").delegate(".parent", "click", function () {
            if ($(this).next('ul').css("visibility") == "hidden") {
                $(this).next('ul').css('visibility', 'visible');
                $(this).next('ul').css("height", 'auto');
                $(this.firstElementChild).removeClass('fa-folder-plus');
                $(this.firstElementChild).addClass('fa-folder-open');
            } else {
                $(this).next('ul').css('visibility', 'hidden');
                $(this).next('ul').css("height", '0px');
                $(this.firstElementChild).removeClass('fa-folder-open');
                $(this.firstElementChild).addClass('fa-folder-plus');
            }
        });
    });
</script>

<ul id="{{.ID}}" class="{{range $c:= $.Classes}}{{$c}} {{end}}" style="{{range $k, $s:= $.Styles}}{{$k}}:{{$s}}; {{end}}">
{{if .ShowRoot}}
    {{Render .Root}}
{{else}}
    {{ range $key, $c := .Root.Children }}
    {{Render $c}}
    {{ end }}
{{end}}
</ul>

{{end}}